<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet/less" type="text/css" href="Assets/Styles.less" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Whitezip-frontend</title>
</head>
<body>
    <div id="app">
        <div class="header text-center">
            <img src="Assets/grandivy-logo.png">
        </div>
        <div class="banner-promotion text-center">
            <div class="row custom-font">
                <h3>{{bannerPromotion.title}}</h3>
            </div>
            <div class="row">
                <span>{{bannerPromotion.content}}</span>
            </div>
            <div class="row amount">
                <h2>£{{bannerPromotion.amount}}</h2>
            </div>
            <div class="row">
                <span>{{bannerPromotion.content2}}</span>
            </div>
            <div class="row">
                <span>{{bannerPromotion.content3}}</span>
            </div>
            <div class="row join-button">
                <button><div><i class="icon icon-swirl"></i><span>{{ setTextToUppercase(bannerPromotion.buttonText) }}</span><i class="icon icon-swirl"></i></div></button>
            </div>
        </div>
        <div class="banner">
            <img src="Assets/haloa-bonus-100s.jpg">
        </div>
        <div class="hero_sub_terms" class="col-10">
            <div class="text-center">
                <span v-html="heroSubTerms"></span>
            </div>
        </div>
        <div class="steps text-center">
            <div class="row">
                <div class="col-3 step" v-for="stepsElement in stepsElements">
                    <h3 class="step-title custom-font">{{ stepsElement.step }}) {{ stepsElement.title }}</h3>
                    <span>{{ stepsElement.content }}</span>
                </div>
                <div class="col-3">
                    <button onclick="location.href = 'https://www.google.com/'"><div><i class="icon icon-swirl"></i><span>{{ setTextToUppercase(stepButton.text) }}</span><i class="icon icon-swirl"></i></div></button>
                </div>
            </div>
        </div>
        <div class="play_aloha text-center col-10">
            <div class="row custom-font">
                <h2>{{ playAloha.title }}</h2>
            </div>
            <div class="row">
                <span>{{ playAloha.content }}</span>
            </div>
            <div class="small-line"></div>
        </div>
        <div class="slot-games text-center">
            <div class="row custom-font text-center">
                <h2>{{slotGames.title}}</h2>
            </div>
            <div class="row col-9">
                <div class="col-4">
                    <img class="pulse-grow-on-hover" src="Assets/negonzoquest.jpg">
                </div>
                <div class="col-4">
                    <img class="pulse-grow-on-hover" src="Assets/nestarburst.jpg">
                </div>
                <div class="col-4">
                    <img class="pulse-grow-on-hover" src="Assets/pngbookofdead.jpg">
                </div>
            </div>
            <div class="row col-3">
                <button><div><i class="icon icon-swirl"></i><span>{{setTextToUppercase(slotGames.buttonText)}}</span><i class="icon icon-swirl"></i></div></button>
            </div>
        </div>
        <div class="sections">
            <div class="row text-center">
                <span>{{siteSections}}</span>
            </div>
        </div>
        <div class="seo-content">
            <div v-for="seoContent in seoContents">
                <div class="row custom-font title">
                    <i v-bind:class="seoContent.icon"></i>
                    <h3> {{seoContent.title}}</h3>
                </div>
                <div class="row content">
                    <span v-html="seoContent.content"> </span>
                </div>
            </div>
        </div>
        <div class="ready-to-play">
            <div class="row custom-font text-center">
                <h3>{{readyToPlayText.title}}</h3>
            </div>
            <div class="row">
                <button><div><i class="icon icon-swirl"></i><span>{{setTextToUppercase(readyToPlayText.buttonText)}}</span><i class="icon icon-swirl"></i></div></button>
            </div>
        </div>
        <div id="footer-terms" class="footer-terms">
            <div class="row text-center text-header">
                <span>Promotional Terms & Conditions</span>
            </div>
            <div class="box col-8">
                <ol>
                    <li v-for="(main, index) in footerTermsPoints.main">
                        <span v-html="main.text"></span>
                    </li>
                </ol>
                <ul>
                    <li v-for="(secondary, index) in footerTermsPoints.secondary">
                        <span v-html="secondary.text"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="row accepted-cards">
        <div v-for="acceptedCard in acceptedCards">
            <img v-bind:src="acceptedCard">
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="providers row col-7 text-center">
            <div class="">
                <img src="https://www.knownowltd.com/wp-content/uploads/2018/02/GamCare-270x300.jpg">
            </div>
            <div class="">
                <img src="https://igamingbrazil.com/wp-content/uploads/2020/10/Atletas-de-Alto-Rendimento-do-Reino-Unido-se-Unem-a-Gamstop.jpg">
            </div>
            <div class="">
                <img src="https://www.casinostoplay.com/wp-content/uploads/2019/05/BeGambleAware.jpg">
            </div>
            <div class="">
                <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0007/0381/brand.gif?itok=Ejodx7Iy">
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="license row">
        <div class="col-3">
            <img class="row" src="https://logodix.com/logo/833756.jpg">
            <img class="row" src="https://www.gamblerspick.com/uploads/monthly_2017_08/gamblingcommission.png.3054d8f398ba4ae824d83b7888a1acc7.png">
            <img class="row" src="https://www.casinostoplay.com/wp-content/uploads/2019/05/BeGambleAware.jpg">
        </div>
        <div class="col-9">
            <div v-for="license in licenses" class="license-text row col-11">
                <span v-html="license"></span>
            </div>
        </div>
    </div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            bannerPromotion: {'title': 'Welcome Deposite Offer', 'content': 'Get up to', 'amount': '1500', 'content2': 'CasinoSlots Bonus', 'content3': '+100 Spins', 'buttonText': 'join now'},
            heroSubTerms: '18+. New Players Only. One bonus offer per player. Minimum deposit £20. Max bonus bet is £5. Bonus spins must be used within 72 hours. Winnings from Bonus spins credited as bonus funds and capped at £100. Bonus funds must be used within 30 days otherwise any unused bonus shall be removed. Bonus funds are 100% of your first deposit up to £300 + 25 bonus spins on Starburst, 25% of your second deposit up to £800 + 50 bonus spins on Aloha Cluster Pays and 50% of your third deposit up to £400 + 25 bonus spins on Gonzo’s Quest. Bonus funds are separate to Cash funds, and are subject to 35x wagering the total bonus & cash. Only bonus funds contribute towards any wagering requirements. <a href="#footer-terms">Terms apply. BeGambleAware.org.</a> FULL TERMS IN FOOTER BELOW',
            stepsElements: [
                {'step': 1, 'title': 'Sign up', 'content': 'Quick and Easy'},
                {'step': 2, 'title': 'Deposit', 'content': 'Claim 100% Match Deposit up to £300 + 25 Bonus Spins on Starburst.'},
                {'step': 3, 'title': 'Play', 'content': 'Receive 500 Loyalty points to get you started on our Generous Loyalty Program.'}
            ],
            stepButton: { 'text' : 'Join Now'},
            playAloha: {
                'title' : 'Play Aloha! Cluster Pays Slot Game Online',
                'content' : 'Welcome to the land of tiki heads and beautiful natural sights. Aloha Cluster Pays is an exotic slots game that will have you spinning to the tropical beats. Greet the smiling tiki guardians and dance to the infectious beats as you spin and win and make real money from virtually anywhere mobile or desktop! Developed by NetEnt, Aloha! Cluster Pays uses a cluster-based payout system that sets it apart from the video slot bunch.',
            },
            slotGames: { 'title': 'Popular Slots Games', 'buttonText': 'join now' },
            siteSections: 'ABOUT US • TERMS & CONDITIONS • PROMOTIONAL TERMS & CONDITIONS • PRIVACY AND COOKIE NOTICE • RESPONSIBLE GAMBLING • AFFILIATES',
            seoContents: [
                {'icon': 'icon icon-library', 'title': 'Welcome to The Grand Ivy Casino', 'content': 'the world’s most thrilling online slots and casino experience. Here at the Grand Ivy we pride ourselves on delivering an online gaming experience like no other – providing you with 1900 top games including table games, live casino, poker, baccarat, blackjack, slots, craps, virtual sports, and life-changing progressive jackpot slots. Our slots range includes an incredible selection including Net Ent slots, NYX games and Leander games – so when you register with us you can be confident that you are receiving the highest quality casino games available.'},
                {'icon': 'icon icon-money', 'title': 'Win big at the Grand Ivy', 'content': 'Sign up today and you’ll receive an unbeatable welcome offer on your first three deposits, including 100 bonus spins and up to £/$/€1,500 in casino bonuses. The Grand Ivy believes in giving you the best casino bonus offers and promotions around and we regularly run cashback promotions, prize draws and give generous loyalty bonuses and bonus spins to our guests.'},
                {'icon': 'icon icon-crown', 'title': 'VIP SERVICE', 'content': 'We also provide online 24/7 support throughout the year – whatever your problem, our dedicated team of experts will be on-hand to assist you via e-mail, telephone and online Live Chat.Here at the Grand Ivy we believe in treating you to a luxurious gaming experience and our VIP players are no exception. As a Grand Ivy VIP you’ll be treated to exclusive casino bonuses, personalised gifts and your own private VIP host – nothing can beat being a VIP with The Grand Ivy Casino.'},
                {'icon': 'icon icon-shield', 'title': 'SECURITY AT THE GRAND IVY', 'content': 'Signing up and making your first deposit only takes a minute and, with our advanced online banking security, you can play in complete confidence knowing that your information is 100%% safe and secure. We provide a large range of payment options, including VISA, Mastercard, Skrill, Bank Transfer, PaySafeCard and Neteller.'},
                {'icon': 'icon icon-phone', 'title': 'GRAND IVY ON THE GO', 'content': 'Whether you’re at home or on the go, we have something for you. Our mobile experience is second to none, so you can play slots online on your PC, mobile or tablet device. We support all popular devices including iPhone, iPad, Android devices and Windows Phone – you can play for our exclusive jackpots no matter where you are. </br></br> Now also available on Google Play Store. <img style="height: 40px; width: 80px" src="https://zenecosystems.com/wp-content/uploads/2019/02/Google-Play-Icon.png">'},
             ],
            readyToPlayText: {'title' :'Are you ready to play?', 'buttonText': 'join now'},
            footerTermsPoints: {
                'main': [{'text': 'This offer is valid to new players only.'},
                    {'text': 'A minimum deposit of £20 is required. The minimum withdrawal from your cash funds is £20.'},
                    {'text': 'Your cash deposits can be withdrawn at any time, unless we have reasonable grounds to suspect promotional abuse or irregular play. You can find more about this <a href="#">here </a>.'},
                    {'text': 'If you withdraw your cash deposit, then the accompanying bonus offer is revoked at the same time.'},
                    {'text': 'Only one bonus offer is awarded per account per player. We have the right to suspend this offer if you are in breach of this clause.'},
                    {'text': 'This offer is only available to customers residing in the United Kingdom.'},
                    {'text': 'Our Website terms and conditions apply in full. These can be found <a href="#">here </a>. Our standard promotional terms and conditions also apply. These can be found <a href="#">here </a>.'},
                    {'text': 'Should you withdraw any of your cash deposit during the same time that your bonus is active, then you revoke the bonus and your bonus funds will be removed immediately.'},
                    {'text': 'This offer gives you the following bonus: 100% of your first deposit up to £300 + 25 bonus spins on Starburst, 25% of your second deposit up to £800 + 50 bonus spins on Aloha Cluster Pays and 50% of your third deposit up to £400 + 25 bonus spins on Gonzo’s Quest'},
                    {'text': 'Winnings from bonus spins credited as bonus funds and are capped at £100.'},
                    {'text': 'There are wagering requirements for you to turn these bonus funds into cash funds. This is 35 times the initial value of the bonus fund + your cash deposit. Only bonus funds contribute towards any wagering requirements.'},
                    {'text': 'Games contribute differently to the wagering requirements. The list of games and their respective weighting towards the wagering requirement can be found <a href="#">here </a>.'},
                    {'text': 'The maximum bet for any of your bonus funds is limited to £5. Should you bet higher than this using your bonus funds, you revoke such bonus funds and they shall be removed from your account.'},
                    {'text': 'Any unused (i.e. not wagered) bonus funds not used within 30 days will be removed from your account. Unused bonus spins will be removed within 72 hours from your account.'},
                    {'text': 'Bonus funds can\'t be withdrawn until you have met all of these requirements above. Only cash funds can be withdrawn at any time and at your request.'},
                    {'text': 'Everything relating to our Loyalty Points system, including its terms, can be found <a href="#">here </a>.'},
                ],
                'secondary' : [
                    {'text': 'Terms and Conditions last updated on 25 February 2019 (version 4.1)'},
                    {'text': 'For welcome offer bonuses claimed before 25 February 2019 please see the applicable Promotional Terms <a href="#">here </a>'},
                ]
            }
        },
        methods : {
            setTextToUppercase: function (text) {
                return text.toUpperCase();
            },
        }
    });
    var footer = new Vue({
        el: 'footer',
        data: {
            acceptedCards : [
                'Assets/payment-icons/banking-visa.png',
                'Assets/payment-icons/banking-mastercard.png',
                'Assets/payment-icons/banking-maestro.png',
                'Assets/payment-icons/banking-skrill.png',
                'Assets/payment-icons/banking-neteller.png',
                'Assets/payment-icons/banking-paysafecard.png',
                'Assets/payment-icons/banking-paypal.png',
                'Assets/payment-icons/banking-klarna-sofort.png',
                'Assets/payment-icons/banking-trustly.png',
                'Assets/payment-icons/banking-interac.png',
                'Assets/payment-icons/banking-bankwire.png',
            ],
            licenses : [
                '© 2020 The Grand Ivy Casino All rights reserved. The Grand Ivy Casino is a brand managed by White Hat Gaming Limited',
                'The Grand Ivy Casino is a brand managed by White Hat Gaming Limited (Company). The Company is registered in accordance with Maltese law with registration no. C73232 whose registered office is 85 St John Street, Valletta, VLT1165, Malta.',
                'The Company is licensed and regulated by: (i) the Gambling Commission of Great Britain under licence number <a href="#">000-052894-R-329546-001</a> for customers in Great Britain; (ii) the Swedish Gambling Authority, Spelinspektionen, under licence number 18Li7478 for customers in Sweden (issued for 5 years from 01/01/2019);  (iii) the Malta Gaming Authority under licence number <a href="#">MGA/B2C/370/2017</a> (issued 01/08/2018) for all other customers.',
                'Gambling can be addictive. Play responsibly. For further information on the risks associated with gambling, read our <a href="#">responsible gambling policy</a>.',
            ]
        }
    });
</script>
<script type="application/javascript">
    setInterval(function () {
        var width = screen.width;
        var bannerPromotion = document.getElementsByClassName('banner-promotion')[0];
        var spans = bannerPromotion.getElementsByTagName('span');
        var h3s = bannerPromotion.getElementsByTagName('h3');
        var h2s = bannerPromotion.getElementsByTagName('h2');
        if (width > 992) {
            Array.from(spans).forEach((span) => {
                span.style.fontSize = '1.25rem';
            });
            Array.from(h2s).forEach((h2) => {
                h2.style.fontSize = '2.5rem';
            });
            Array.from(h3s).forEach((h3) => {
                h3.style.fontSize = '2.20rem';
            });
        } else {

            Array.from(spans).forEach((span) => {
                span.style.fontSize = '1rem';
            });
            Array.from(h2s).forEach((h2) => {
                h2.style.fontSize = '2rem';
            });
            Array.from(h3s).forEach((h3) => {
                h3.style.fontSize = '2.25rem';
            });
        }
    }, 1000);
</script>
</html>