//@width: 10px;
//@height: @width + 10px;
//
//#header {
//    width: @width;
//    height: @height;
//}

@font-face {
    font-family: custom-font;
    src: url(font/AvenidaLetPlain.eot) format("embedded-opentype");
    src: url(font/AvenidaLetPlain.svg) format("svg");
    src: url(font/AvenidaLetPlain.ttf) format("truetype");
    src: url(font/AvenidaLetPlain.woff) format("woff");
}
@font-face {
    font-family: icons;
    src: url('icon font/GrandIvy.eot') format("embedded-opentype"),
    url('icon font/GrandIvy.svg') format("svg"),
    url('icon font/GrandIvy.ttf') format("truetype"),
    url('icon font/GrandIvy.woff') format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}
[class*=" icon-"], [class^=" icon-"]{
    font-family: icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-library:before {
    content: "\e921";
}
.icon-shield:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e934";
}
.icon-money:before {
    content: "\e909";
}
.icon-crown:before {
    content: "\e910";
}
.icon-swirl:before {
    content: "\e90f";
}
button {
    background-color: #e1aa26;
    border-radius: 25px !important;
    cursor: pointer;
    div {
        border: 2px solid black;
        border-radius: 25px !important;
        padding: 3px 20px !important;
        i {
            @media only screen and (min-width: 992px) {
                padding: 3px 20px;
            }
            font-size: 30px;
        }
        span {
            padding-top: 3px;
        }
    }
}
.text-center {
    justify-content: center !important;
}
footer {
    padding-bottom: 3%;
    background-color: black !important;
    color: white !important;
    margin: auto;
    div, button {
        margin: auto;
    }
    .accepted-cards {
        padding: 5%;
        img {
            background-color: white;
            margin: 2px;
            border-radius: 5px;
        }
    }
    .license {
        .license-text {
            padding-bottom: 1%;
        }
        img {
            height: 40px;
            width: 40%;
            margin: 10% 40%;
        }
        a {
            color: #e1aa26;
            text-decoration: underline;
        }
    }

    .providers {
        height: 200px;
        div {
            place-content: center !important;
        }
        img {
            height: 80px;
            width: 100%;
        }
    }
}
body #app {
    background-color: black !important;
    color: white !important;
    div, button {
        margin: auto;
    }
    img {
        padding: 5px;
        max-width:100%;
        max-height:100%;
    }
    .header {
        background-color: black !important;
        position: fixed;
        width: 100%;
        opacity: 70%;
    }
    @media only screen and (max-width: 992px) {
        .header {
            height: 10%;
        }
        .banner {
            height: 800px;
        }
    }
    @media only screen and (min-width: 992px) {
        .header {
            height: 15%;
        }
        .banner {
            height: 600px;
        }
    }
    .banner {
        img {
            width:100%;
            height:100%;
        }
    }
    .banner-promotion {
        position: absolute;
        @media only screen and (max-width: 992px) {
            margin: 30% 25%;
        }
        @media only screen and (min-width: 992px) {
            margin: 10% 25%;
        }
        .amount {
            font-size: 50px;
            color: #e1aa26;
            font-weight: bold;
            text-shadow: 2px 2px #e1aa26;
        }
        .join-button {
            margin-top: 5%;
        }
        div {
            place-content: center;
        }
    }
    .hero_sub_terms {
        padding: 1%;
        a {
            color: white;
            text-decoration: underline;
        }
    }
    div.steps {
        background-color: #232325;
        margin: auto;
        .step {
            padding: 2% 3%;
            .step-title {
                color: #e1aa26;
            }
        }
    }
    .play_aloha {
        padding: 2%;
        * {
            margin: auto;
        }
    }
    .slot-games {
        margin: auto;
        padding-bottom: 3%;
        border-bottom: 3px solid #e1aa26;
        img {
            border-radius: 45px;
            border: 3px solid #e1aa26;
            padding: 1%;
            cursor: pointer;
        }
        button {
            margin-top: 4%;
        }
    }
    .sections {
        padding: 1%;
        border-bottom: 1px solid gray;
    }
    .seo-content {
        padding: 1%;
        i {
            padding-right: 3%;
        }
        .title {
            color: #e1aa26;
            padding-top: 4%;
        }
        .content {
            padding-bottom: 1%;
        }
        img {
            cursor: pointer;
        }
    }
    .ready-to-play {
        padding: 4%;
        .custom-font {
            color: #e1aa26;
        }
        border-top: 3px solid #e1aa26;
    }
    .footer-terms {
        .text-header {
            color: #e1aa26;
            position: absolute;
            margin-bottom: -4%;
            background-color: black;
            z-index: 1;
            margin-top: -1%;
            margin-left: 37%;
            padding: 0 2%
        }
        .box {
            border-radius: 45px;
            border: 3px solid #e1aa26;
            padding: 2% 1%;
            margin-top: 1%;

            ol {
                margin-left: 5%;
            }

            ul li {
                list-style: '*';
            }

            a {
                color: #e1aa26;
                text-decoration: underline;
            }
        }
    }
    .custom-font {
        font-family: custom-font;
        margin-top: -2%;
    }
    .small-line {
        border-top: 1px solid white;
        height: 2px;
        max-width: 400px;
        margin: 5px auto 0 auto;
    }
    @-webkit-keyframes pulse-grow-on-hover {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    @keyframes pulse-grow-on-hover {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    .pulse-grow-on-hover {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .pulse-grow-on-hover:hover, .pulse-grow-on-hover:focus, .pulse-grow-on-hover:active {
        -webkit-animation-name: pulse-grow-on-hover;
        animation-name: pulse-grow-on-hover;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
}